tooltip {
  border-radius: 4px;
  padding: 2px 8px;
  background-color: $dark2;
  color: $white1;
  font-family: $font-sans;
  font-size: 14px;
  font-weight: 500;
}

window.bar {
  background-color: $dark00;
  color: $white1;
  font-size: 14px;
  font-family: $font-sans;
  font-weight: 500;

  .bar-box {
    padding: 0px 16px;
  }

  .clock {
    font-size: 16px;
    font-weight: 800;
    color: $white1;
  }

  .workspaces {
  }

  .workspace-box {
    padding: 10px 0px;
  }

  .workspace-button {
    min-width: 20px;
    min-height: 8px;
    border-radius: 4px;
    background-color: $dark3;
    color: $white2;
  }

  .workspace-button.active {
    background-color: $accent;
    color: $dark2;
  }

  .workspace-button.occupied.active {
    background-color: $accent;
    color: $dark2;
  }

  .workspace-button.occupied {
    background-color: $blue1;
    color: $dark2;
  }

  .volume.active {
    color: $violet1;
  }

  .volume trough highlight {
    border-radius: 4px;
    background-color: $violet1;
    min-height: 6px;
  }

  .volume trough {
    border-radius: 4px;
    background-color: $dark3;
  }

  .volume trough.active {
    background-color: $dark2;
  }

  .active-client {
    font-size: 14px;
    font-weight: 600;
    color: $white1;
  }

  .volume,
  .network,
  .nightlight,
  .bluetooth,
  .notifications {
    color: $white2;
  }

  .idle {
    color: $dark4;
  }

  .nightlight.active {
    color: $yellow1;
  }

  .network.active {
    color: $amber1;
  }

  .bluetooth.active {
    color: $blue1;
  }

  .notifications.active {
    color: $yellow1;
  }

  .idle.active {
    color: $aqua1;
  }
}

.systray {
  .revealer {
    padding: 0px 8px;
  }
}

.systray-button {
  color: $dark4;
}
