tooltip {
  border-radius: 4px;
  padding: 2px 8px;
  background-color: $dark2;
  color: $white1;
  font-family: $font-sans;
  font-size: 14px;
  font-weight: 400;
}

window.bar {
  background-color: $dark;
  color: $white1;
  font-size: 16px;
  font-family: $font-sans;
  font-weight: 500;

  .bar-box {
    padding: 5px 16px;
  }

  .clock {
    font-size: 18px;
    font-weight: 900;
    color: $white1;
  }

  .workspace-box {
    padding: 4px 0px;
  }

  .workspace-button {
    min-width: 18px;
    min-height: 18px;
    border-radius: 50%;
    background-color: $dark3;
    color: $white2;
  }

  .workspace-button.active {
    background-color: $accent;
    color: $dark3;
  }

  .workspace-button.occupied.active {
    background-color: $accent;
    color: $dark3;
  }

  .workspace-button.occupied {
    background-color: $dark5;
    color: $dark3;
  }

  .volume,
  .idle {
    font-size: 20px;
    font-family: $font-icon;
    color: $dark3;
  }

  .volume.active {
    color: $accent;
  }

  .volume .percentage {
    font-size: 18px;
    font-family: $font-sans;
    font-weight: 600;
  }

  .idle.active {
    color: $accent;
  }

  .active-client {
    font-size: 18px;
    color: $white2;
  }
}
