window.calendar {
  padding: 4px;
  font-family: $font-sans;
  font-size: 16px;

  box {
    padding: 8px;
    border-radius: 8px;
    border: 2px solid $dark3;
    background-color: $dark0;
  }

  .calendar {
    padding: 2px 4px;
    border-radius: 4px;
    color: $white0;

    &.button {
      color: $dark4;
    }

    &.header {
      color: $white1;
      font-weight: 800;
    }

    &.highlight {
      color: $accent;
      font-weight: 800;
    }

    &:selected {
      background-color: $accent;
      color: $dark1;
      font-weight: 800;
    }
  }
}
