/* Cozy colorscheme for eww */
/* ~/.config/ags/styles/_palette.scss */
  $accent:       #ebdbb2;
  $dark:         #131819;
  $dark0:        #21201f;
  $dark1:        #282828;
  $dark2:        #32302f;
  $dark3:        #3c3836;
  $dark4:        #504945;
  $dark5:        #665c54;
  $white:        #fcf5d8;
  $white0:       #fbf1c7;
  $white1:       #ebdbb2;
  $white2:       #d5c4a1;
  $grey:         #524a41;
  $grey0:        #695f54;
  $grey1:        #75695d;
  $grey2:        #91877d;
  $red:          #763838;
  $red0:         #d46464;
  $red1:         #ec6f6f;
  $red2:         #f08c8c;
  $orange:       #93622a;
  $orange0:      #dd933f;
  $orange1:      #f5a346;
  $orange2:      #f7b56b;
  $yellow:       #7d5f18;
  $yellow0:      #e1aa2a;
  $yellow1:      #fabd2f;
  $yellow2:      #fbca59;
  $green:        #6f702c;
  $green0:       #a7a843;
  $green1:       #b9bb4a;
  $green2:       #c7c96e;
  $matcha:         #4a755b;
  $matcha0:        #6fb089;
  $matcha1:        #7bc398;
  $matcha2:        #95cfad;
  $blue:         #4a6075;
  $blue0:        #6f90b0;
  $blue1:        #7ba0c3;
  $blue2:        #95b3cf;
  $purple:       #69507f;
  $purple0:      #9e79be;
  $purple1:      #af86d3;
  $purple2:      #bf9edc;
  $magenta:      #7f505d;
  $magenta0:     #be798c;
  $magenta1:     #d3869b;
  $magenta2:     #dc9eaf;

