@import "./palette";

$font: Galax Nerd Font;
$font-icon: Material Symbols Rounded;

window.bar {
  all: unset;
  background: transparent;

  button {
    all: unset;
  }

  > centerbox {
    min-height: 28px;
    background: $dark;
  }

  .workspaces {
    margin-left: 6px;

    .workspace-button {
      all: unset;
      min-width: 16px;
      min-height: 16px;
      border-radius: 50%;
      background: $dark1;
      transition: 250ms background;
    }

    .workspace-button.focused,
    .workspace-button.focused.occupied {
      background: $green2;
    }

    .workspace-button.occupied {
      background: $dark4;
    }
  }

  .focused-client {
    color: $white2;

    .client-app {
      margin-left: 8px;
      font-family: $font;
      font-size: 18px;
      font-weight: 600;
    }
  }

  .volume {
    color: $yellow2;

    .volume-icon {
      font-family: $font-icon;
      font-size: 20px;
    }

    .volume-value {
      margin-left: 8px;
      font-family: $font;
      font-size: 18px;
      font-weight: 600;
    }
  }

  .idle-inhibitor {
    color: $orange2;

    .idle-inhibitor-icon {
      font-family: $font-icon;
      font-size: 18px;
    }
  }

  .clock {
    margin-right: 6px;
    font-family: $font;
    font-size: 18px;
    font-weight: 900;
    color: $white2;
  }
}

window.NotificationPopups {
  all: unset;
}

eventbox.Notification {
  &:first-child > box {
    margin-top: 1rem;
  }

  &:last-child > box {
    margin-bottom: 1rem;
  }

  // eventboxes can not take margins so we style its inner box instead
  > box {
    min-width: 400px;
    border-radius: 6px;
    background-color: $dark;
    margin: 0.5rem 1rem 0.5rem 1rem;
    border: 1pt solid $dark3;
    font-family: $font;

    button {
      all: unset;
    }
  }

  &.critical > box {
    border: 1pt solid $red0;

    .header {
      .app-name {
        color: $red1;
      }

      .app-icon {
        color: $red1;
      }
    }
  }

  .header {
    padding: 0.5rem;
    color: $grey1;

    .app-icon {
      margin: 0 0.4rem;
    }

    .app-name {
      margin-right: 0.3rem;
      font-weight: bold;

      &:first-child {
        margin-left: 0.4rem;
      }
    }

    .time {
      margin: 0 0.4rem;
    }
  }

  separator {
    margin: 0 8px;
    background-color: $dark2;
  }

  .content {
    margin: 16px;
    margin-top: 8px;

    .summary {
      font-size: 18px;
      font-weight: 600;
      color: $white1;
    }

    .body {
      margin-top: 8px;
      font-size: 18px;
      font-weight: 600;
      color: $grey1;
    }

    .image {
      margin-right: 0.5rem;
      border-radius: 6px;
      min-width: 64px;
      min-height: 64px;
      background-size: cover;
      background-position: center;
    }
  }

  .actions {
    margin: 16px;
    margin-top: 0px;

    button {
      padding: 8px 0px;
      font-weight: 600;
      border-radius: 6px;
      background: $dark1;
      transition: 250ms background;
    }

    button:hover {
      background: $dark3;
    }
  }
}
