/.config/*
!/.config/btop
/.config/btop/btop.log
!/.config/fcitx5
!/.config/fish
/.config/fish/completions
/.config/fish/fish_variables
!/.config/foot
!/.config/font.config
!/.config/gtk-3.0
/.config/gtk-3.0/bookmarks
!/.config/gtk-4.0
!/.config/hpaper
!/.config/hypr
!/.config/imv
!/.config/Kvantum
!/.config/nvim
/.config/nvim/lazy-lock.json
!/.config/rofi
!/.config/sddm-astronaut-theme
!/.config/starship.toml
!/.config/swayidle
!/.config/swaylock
!/.config/tmux
!/.config/waybar
!/.config/xournalpp
!/.config/xsettingsd
!/.config/zathura
--help

# All logs
*.log
